.signUp{
    width: 100%;
    background-color: var(--bg);
    min-height: 100vh;
}
.signUp__container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 10px;
}
.signUp__container__flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.signUp__container__flex__left{
    flex: 10;
    flex-basis:300px ;
}
.signUp__container__flex__left img{
    width: 90%;
    max-width: 600px;
    
}
.signUp__container__flex__right{
    flex: 11;
}
.signUp__container__flex__right input, select{
    padding:0.5rem;
    font-size: 1rem;
    border-radius: 10px;
}
.signUp__container__flex__right label{
    font-weight:500 ;
}
.signUp__form{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1.5rem;

}
.input-level{
    display: flex;
    flex-direction: column;
}
.signUp__form-flex{
    display: flex ;
    /* flex-wrap:wrap; */
    gap: 0.5rem;
}
