.loan{
    width: 100%;
    min-height: 100vh;
}
.loan__container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 4rem;
}
.loan__container__loanSection{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.loan__container__button{
    margin: 1.5rem 0;
}