.home{
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
}
.home__container{
    max-width: var(--max-width);
    margin: 0 auto;
}
.home__top{
    padding: 0 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
}

.home__top__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-evenly;
}
.home__top__content__input{
    display: flex;
    border: 0.05rem solid black;
    background-color: white;
    justify-content: space-between;
    border-radius: 5px;
    max-width: 500px;
}
.home__top__content__input input{
    border: none;
    padding: 0.5rem 0;
    margin:  0 10px;
}
.home__top__content__input input:focus{
    outline: none;
}
.home__top__content__input button{
    border: none;
    background-color: var(--green);
    padding: 0 10px;
    border: 0.05rem solid black;
    border-radius: 5px;
}
.home__top__image{
    flex-basis: 300px;
    flex: 1;
}
.home__top__image img{
    width: 100%;
    min-width: 300px;
}
.homeContent__middle{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.home__middle__heading{
    background-color: var(--gray);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.25rem 1rem;
    margin-top: 100px;
    margin-bottom: 200px;
}
.home__bottom{
    padding: 0 2.5rem;
}

.home__bottom__brand{
    width: 100%;
    gap: 1rem;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1.5rem;
}
.home__bottom__brand__university img{
    width: 65%;
}
.home__bottom__brand__socialLinks{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 0.5rem;
}
.home__bottom__brand__socialLinks img{
    width: 15%;
}

.big span{
color: #028546
}