.header{
    width: 100%;
    background-color: var(--bg);
}
.header__container{
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}
.header__container__profile{
    cursor: pointer;
}
.header__container__search input{
    padding: 10px 0.5rem;
    border-radius: 10px;
}

.header__container__link{
    background-color: var(--green);
    border-radius: 15px;
    border: 1px solid black;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header__container__link__item{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-weight: 600;
    background-color: var(--green);
    
}
.header__container__link a:hover{
    text-decoration: none;
    font-weight: 600;
    background-color: black;
    color: var(--green);
    border-radius: 10px;
}