.homeContent{
    max-width: var(--max-width);
}
.homeContent-container{
    width: 100%;
    margin: 0 auto;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
}

.flex-same{
    display: flex;
    gap: 2.75rem;
}   
.homeContent__second{
    flex-direction: row-reverse;
}

.homeContent__content__box{
    background-color: var(--gray);
    max-width: 530px;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}
.homeContent__content__box p{
    font-weight: 600;
    margin: 1rem;
}
.homeContent_para{
    font-size: 30px;
    margin-bottom: 1.5rem;
}