.homeContent__container{
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 200px;
}
.homeContent__container img{
    min-width: 250px;
    object-fit: cover;
}
.homeContent__left{
    flex-basis: 350px;
    flex: 1;
    margin-top: -150px;
}
.homeContent__middle{
    flex-basis: 350px;
    flex: 1;
}
.homeContent__right{
    flex-basis: 350px;
    flex: 1;
}
.homeContent__right img{
    object-fit: cover;
    margin-bottom: -250px;
}
.home__bottom{
    margin-top: 280px;
}