/* body{
  font-family: Andika sans-serif;
} */
:root {
  --gray: #D9D9D9;
  --green: #92E3A9;
  --bg: #F6F6F3;
  --medium-font: 1.25rem;
  --semi-font: 1rem;
  --max-width: 1900px;
  --semi-green: #EDF5F0;
  --large-font: 2.5rem;
  --small-font: 0.8rem
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

body{
  font-family: andika;
}
h1{
  font-size: 45px;
}


button{
  font-weight: 400;
  cursor: pointer;
  border: 1px solid black;
}
.big{
  font-size: 2rem;
  font-weight: 500;
}

.btn-green{
  background-color: var(--green);
  font-size: var(--semi-font);
  border-radius: 25px;
  padding: 7px 30px;
}

.btn-semi-green{
  background-color: var(--semi-green);
  font-size: var(--small-font);
  border-radius: 10px;
  border: 0.05rem solid black;
  padding: 5px 10px;
  font-weight: 5600;
  margin: 0 0.5rem;
}

.btn-white{
  font-size: var(--semi-font);
  background-color: white;
  border-radius: 20px;
  padding: 5px 30px;
}
.register-heading{
  font-weight: 500 ;
  margin: 20px 0 ;
}